.skillitem
{
    background-color: var(--primary-color-faded);
    border: 1px rgba(255,255,255, 0.07) solid;
    width: 40%;
    height: 40%;
    margin: 1rem;
    border-radius: 10px;
}

.skillitem:hover
{
  transform: scale(1.1);
}

.skillitem > h2
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#skillmain
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    gap: 4rem;
}

#weblang{
    width: 50%;
}

.skillimg{
    width: 20%;
    padding: 0.7rem;
}

#csharp{
    width: 18%;
}

@media screen and (max-width: 1200px) 
{
    main{
    height: 190vh;
    }

    #skillmain{
        gap: 2rem;
    }

   .skillitem{
    width: 100%;
    height: fit-content;
    margin: 0.3rem;
    border-radius: 10px;
   }

   .skillimg{
    width: 30%;
    padding: 0.7rem;
    }

    #csharp{
        width: 25%;
    }
}