:root{
    --primary-color: rgb(0,128,128);
    --background-color:rgb(26, 26, 26);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.4s ease-in-out;
}

p{
    color: white;
}

body{
    background-color: var(--background-color);
}


nav{
    display: flex;
    padding: 0.5em;
}

nav > *{
    margin: 0.5em;
}

.navitem{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-links-container{
    display: flex;
    width: 100%;
    justify-content: right;
}

.nav-links-container > *{
    padding: 1rem;
}

#homelink{
    -webkit-text-stroke: 0.3px black;
    font-size: 1.3rem;
    font-weight: 900;
    width: 20rem;
}

main {
    height: 100vh;
    /* background-image: url("../images/hexagon.png"); */
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > *{
    padding: 0.5rem;
}

.intro{
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.faceimg{
    width: 30rem;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

#facehome{
    border-radius: 500px;
}

footer{
    display: flex;
    background-color: teal;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

footer > *{
    padding: 0.3rem;
}

.currentlink {
    color: var(--primary-color);
}

